@import "./reset";
@import "./variable";
@import "./function";
@import "font-awesome";

@import "config/colors";
// @import "config/size";
// @import "config/reset";
// @import "mixins/mixin";
// @import "mixins/vendor_prefix";
// @import "modules/side_bar";
// @import "modules/chat";
@import "modules/flash";
@import "modules/group";
// @import "modules/user";
// @import "messages/messages.scss"

* {
  box-sizing: border-box;
}

.header {
  @include base(100%, 20px, $LightBlue);
  &__logo {
    color: $White;
    text-align: center;
    line-height: 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  &__side {
    &__side-header {
      @include base(300px, 96px, #253141);
      @include separate();
      &__user-name {
        font-size: 16px;
        color: $White;
        font-weight: bold;
        line-height: 96px;
        padding-left: 20px;
      }
      &__btn {
        color: $White;
        line-height: 96px;
        padding-right: 20px;
        margin-left: auto;
        display: flex;
        &__cog {
          margin-left: 5px;
        }
      }
    }
    &__groups {
      @include base(300px, calc(100vh - 20px - 96px), #2f3e51);
      &__group {
        height: 91px;
        color: $White;
        padding: 20px 0 40px 20px;
        &__name {
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 5px; 
        }
        &__comment {
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
  }
  &__main {
    width: calc(100% - 300px);
    background-color: #fafafa;
    &__main-header {
      height: 96px;
      background-color: $White;
      border-bottom: 1px solid $DarkWhite;
      padding: 0 40px;
      @include separate();
      &__name {
        &__group-name {
          @include name(20px, 20px, #333333, 35px);
        }
        &__user-name {
          @include name(12px, 12px, $LightGray, 15px);
        }
      }
      &__btn {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: $LightBlue;
        text-align: center;
        border: solid 1px $LightBlue;
        padding: 0 20px;
        margin-top: 28px;
        margin-left: auto;
      }    
    }
  
    &__messages {
      padding: 0 40px 90px 40px;
      &__message {
        margin-top: 46px;
        &__data {
          display: flex;
          &__user {
            font-size: 16px;
            font-weight: bold;
            line-height: 16px;
            color: $DarkGray;
          }
          &__date {
            font-size: 12px;
            line-height: 12px;
            color: $LightGray;
            margin-left: 10px;
          }
        }
        &__text {
          font-size: 14px;
          line-height: 14px;
          color: $DarkGray;
          margin-top: 10px;
          margin-bottom: 40px;
        }
      }
    }
    &__form {
      @include base(calc(100% - 300px), 90px, $DarkWhite);
      padding: 20px 40px;
      position: absolute;
      bottom: 0;
      display: flex;
      &__input-box {
        @include base(100%, 50px, $White);
        line-height: 50px;
        @include separate();
        position: relative;
        #input {
          @include base(100%, 50px, $White);
          font-size: 16px;
          color: $DarkGray;
          border: none;
          padding-left: 10px;
          }
        &__image {
          margin: 0 10px;
          line-height: 50px;
          position: absolute;
          right: 135px;
          top: 20px;
        }
      }
      &__btn {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        text-align: center;
        color: $White;
        background-color: $LightBlue;
        padding: 0 20px;
        margin-left: 15px;
      }
    }
  }
}