@import "./reset";
@import "./variable";
@import "./function";
@import "font-awesome";

@import "config/colors";
@import "config/font-size";
@import "modules/side_bar";
@import "modules/flash";
@import "modules/group";
@import "modules/user";
@import "mixins/vendor_prefix";
@import "messages/messages.scss";

* {
  box-sizing: border-box;
}

.header {
  @include base(100%, 20px, $LightBlue);
  &__logo {
    color: $White;
    text-align: center;
    line-height: 20px;
  }
}

.wrapper {
  flex-direction: row;
  display: flex;
  height: 100vh;
  &__main {
    right: 0px;
    width: calc(100% - 300px);
    background-color: #fafafa;
    &__main-header {
      display: flex;
      height: 100px;
      background-color: $White;
      border-bottom: 1px solid $DarkWhite;
      padding: 0 40px;
      @include separate();
      &__name {
        &__group-name {
          @include name(20px, 20px, #333333, 35px);
        }
        &__user-name {
          @include name(12px, 12px, $LightGray, 15px);
        }
      }
      &__btn {
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: solid 1px $LightBlue;
        padding: 0 20px;
        margin-top: 28px;
        margin-left: auto;
        a {
          color: $LightBlue;
          font-size: 16px;
          text-decoration-line: none;
        }
      }    
    }
  
    &__messages {
      width: 100%;
      height: calc(100% - 100px - 90px);
      overflow: scroll;
      padding: 0 40px 90px 40px;
      &__message {
        margin-top: 46px;
        &__data {
          display: flex;
          &__user {
            font-size: 16px;
            font-weight: bold;
            line-height: 16px;
            color: $DarkGray;
          }
          &__date {
            font-size: 12px;
            line-height: 12px;
            color: $LightGray;
            margin-left: 10px;
          }
        }
        &__text {
          font-size: 14px;
          line-height: 14px;
          color: $DarkGray;
          margin-top: 10px;
          margin-bottom: 40px;
        }
      }
    }

    .form {
      width: calc(100% - 300px);
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      position: absolute;
      bottom: 0;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        padding-left: 10px;
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}